<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Epaper Frame</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cropper.min.css') }}">
    <script src="{{ url_for('static', filename='js/cropper.min.js') }}"></script>

</head>

<body>
    <div class="container">

        <form id="uploadForm">
            <input type="file" id="fileInput" name="file" accept="image/*" class="form-control mb-3">
            <button type="button" id="uploadBtn" class="btn btn-primary">Upload</button>
        </form>

        <div class="button-container">
            <button id="brUpBtn" class="canmanBtn" style="display: none;">Brightness +</button>
            <button id="brResBtn" class="canmanBtn" style="display: none;">Brightness Reset</button>
            <button id="brDwBtn" class="canmanBtn" style="display: none;">Brightness -</button>
        </div>

        <div class="button-container">
            <button id="satUpBtn" class="canmanBtn" style="display: none;">Saturation +</button>
            <button id="satResBtn" class="canmanBtn" style="display: none;">Saturation Reset</button>
            <button id="satDwBtn" class="canmanBtn" style="display: none;">Saturation -</button>
        </div>

        <div id="progressContainer" class="mt-3" style="display: none;">
            <div class="progress">
                <div id="progressBar" class="progress-bar" role="progressbar" style="width: 0%;">0%</div>
            </div>
        </div>

        <div id="imageContainer" class="mt-4">
            <canvas id="uploadedImage" src="">
        </div>
    </div>

    <button id="shutdownBtn" style="display: block;">Shutdown</button>
    <button id="okBtn">Ok</button>
    <button id="vertBtn">Portrait</button>
    <button id="horBtn">Landscape</button>
    <button id="cropBtn">Crop and Apply</button>
    <script type="text/javascript">
        const panel = "{{ panel }}";
    </script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>


</html>